---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="About">
 
    <Main>

      <div class="flex flex-col items-center">
        <div class="bg-gray-300 rounded-full p-2">
          <img class="h-36 w-39 rounded-full" src="/images/customer.webp" alt="Avatar 1">
        </div>
        <p class="mt-2 text-center text-sm">Helmar</p>
      </div>
    
  


    <div class="mx-auto max-w-xl text-justify py-3.5">
      <p class="text-lg leading-relaxed text-gray-600n justify-around px-px mx-3">
        AS A LEVEL 3 SUPPORT ASSOCIATE FOR AMAZON, I EXCEL AT HANDLING COMPLEX QUERIES AND ESCALATED ISSUES FROM OUR PREMIUM SELLERS. IN MY SPARE TIME, I AM PASSIONATE ABOUT STAYING UP-TO-DATE ON THE LATEST TECHNOLOGIES AND ENJOY BUILDING APPS WITH ASTRO.JS AND SVELTEKIT. WITH A LOVE FOR TRAVEL, I HAVE VISITED 67 COUNTRIES AND BRING A DIVERSE PERSPECTIVE TO MY WORK. WHETHER AT HOME OR ABROAD, I AM ALWAYS SEEKING NEW CHALLENGES AND OPPORTUNITIES TO GROW.
      </p>
      <div class="mt-8">
       
        <p class="text-lg leading-relaxed text-gray-600n justify-around uppercase mx-3">I am also Creator, Producer, Developer and everything that comes with video, photography and Web Development.
          Here are some videos  I have uploaded on youtube</p>
        <div style="display: flex; justify-content: center rounded-2xl shadow-xl mb-4  object-cover">  
          <iframe width="560" height="315" src="https://www.youtube.com/embed/sOG76pmM6cI?si=wc8T5KBYe9zFpbyI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

          
        </Main>