---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";

import H1 from "../components/H1.astro";

import { Image } from "astro:assets";

import sun from "../images/sun.jpg"





---

<Layout title="Restaurants">
	<Main>
		<H1 text="Coffee"/>

		<article class="card"><article class="card"></article>
		<div>
			<p class="text-lg leading-relaxed text-gray-600n justify-around p-3 py-3.5">
				After Brazil, Vietnam is the world's biggest coffee producer. Most of the coffee they grow is Robusta, 
				which makes up more than 90% of their total output and brings in about US$3 billion every year.
				 Coffee has been a major source of income for Vietnam since the French introduced it in 1857. 
				 The country has a rich coffee culture and
                 Vietnamese people love coffee and drink it often. It is easy to find and cheap to buy. 
				 Do you enjoy Vietnamese coffee? 😊
			</p>
		</article>
	</div>
</div>

		<article class="card">
			<img src="/images/kem.jpg" alt="Card Image" class="card-image">
			<div class="card-content">
				<div class="mx-auto max-w-xl text-justify py-3.5">
					<h2>Cafe-Kem 360</h2>
				
					 <div class="mt-5">
					   <div class="flex items-center mt-2 space-x-2 text-gray-600">
						
						 <span>1 Lê Quý Đôn, Phường 1, Thành phố Vũng Tàu 790000, Vietnam</span>
					   
					   </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
					  <a
						   href="tel: +84 909 920 758"> +84 909 920 758</a
						 >

						</div><div class="flex items-center mt-2 space-x-2 text-gray-600">
							<a
		   
							href="https://www.facebook.com/360CafeKem/" rel="noopener"  target="_blank"  >
							facebook.com/360CafeKem
						  </a>
						  </div>
						
					   </div>
					 </div>
			  </article>
		</div>


		
	<article class="card">
		<img src="/images/sun.jpg" alt="Card Image" class="card-image">
		<div class="card-content">
			<div class="mx-auto max-w-xl text-justify py-3.5">
				<h2>Sea & Sun 2</h2>
			
				 <div class="mt-5">
				   <div class="flex items-center mt-2 space-x-2 text-gray-600">
					
					 <span>9346+Q45, Trần Phú, Phường 5, Thành phố Vũng Tàu, Vietnam</span>
				   
				   </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
				  <a
					   href="tel:+84 0908 098 138">+84 941 084 779</a
					 >
					
				   </div>
				 </div>
		  </article>
	</div>


	<article class="card">
		<img src="/images/garden.jpg" alt="Card Image" class="card-image">
		<div class="card-content">
			<div class="mx-auto max-w-xl text-justify py-3.5">
				<h2>Rừng coffee</h2>
			
				 <div class="mt-5">
				   <div class="flex items-center mt-2 space-x-2 text-gray-600">
					
					 <span> Vũng Tàu, Vietnam</span>
				   
				   </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
				  <a
					   href="tel:+84 941 084 779">unknown</a
					 >
					
				   </div>
				 </div>
		  </article>
	</div>

</card>
<a href="/nightlife" class="flex items-center gap-x-3 ">
	<img
		src="/forward.png"
		alt="forward icon"
		width={48}
		height={44}
		class=" color grayscale align-right"
	/>
      
   
	<style>

		.card {
		  border: 1px solid #ddd;
		  border-radius: 8px;
		  overflow: hidden;
		  width: 90%;
		  height: 130%;
		  margin: 26px;
		  align-content: baseline;
		}
		
		.card-image {
		  width: 100%;
		  height: 500px; /* Adjust the height as needed */
		  object-fit: cover;
		}
		
		.card-content {
		  padding: 26px;
		}
		
		.icon {
		  /* Add styles for your icon */
		}
		
		h2 {
		  padding: 1px;
		  color:blue;
		}
		
		</style>
		

</Main>

</Layout>