---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";

import H1 from "../components/H1.astro";
import Movies from "../components/Movies.tsx";
import { Image } from "astro:assets";


---

<Layout title="Restaurants">
	<Main>
		<H1 text="Coffee"/>

		<p>
			Vietnam is the second largest coffee producer in the world after Brazil. According to the USDA Foreign Agricultural Service, Vietnam’s coffee production estimate for 2022/2023 is 29.750 million bags, green bean equivalent (GBE), based on lower yields, high production costs, and a drop in cultivation area1. Vietnam mainly grows Robusta coffee, which accounts for more than 90% of its total output and has an average annual turnover of around US$3 billion2. Coffee production has been a major source of income for Vietnam since the early 20th century, when it was introduced by the French in 1857. Coffee consumption in Vietnam is also very popular, especially instant coffee that is widely available and affordable. Do you like Vietnamese coffee? 😊
		</p>
      
    <img src="../images/coffee.jpg" alt="wellness=" class="rounded-2xl shadow-xl mb-4  object-cover">

	<img src="/images/newHaircut.jpg" alt="wellness=" class="rounded-2xl shadow-xl mb-4  object-cover">

	

</Main>

</Layout>