---
import Layout from "../layouts/Layout.astro";

import Main from "../components/Main.astro";

import H1 from "../components/H1.astro";


import { Image } from "astro:assets"

import pearl from "../images/pearl.webp"
import room from "../images/room.jpg"
import forward from "../images/forward.png"

---


<Layout title="Hotel">
	<Main>
		<H1 text="Hotels and Accomodation"/>

		<div class="flex justify-center items-center">
			<Image src={pearl} alt="sunset" class="rounded-2xl shadow-xl mb-4 object-cover "  width="1024" height="800"/>	
		</div>
		
	</div>
    <h2> might cost you 150$/night</h2>
	<a href="/guide" class="flex items-center gap-x-3 ">
		<Image
			src="/forward.png"
			alt="forward icon"
			width={48}
			height={44}
			class=" color grayscale align-right"
		/>

		<style>

			.card {
			  border: 1px solid #ddd;
			  border-radius: 8px;
			  overflow: hidden;
			  width: 90%;
			  height: 130%;
			  margin: 26px;
			  align-content: baseline;
			}
			
			.card-image {
			  width: 100%;
			  height: 500px; /* Adjust the height as needed */
			  object-fit: cover;
			}
			
			.card-content {
			  padding: 26px;
			}
			
			.icon {
			  /* Add styles for your icon */
			}
			
			h2 {
			  padding: 1px;
			  color:blue;
			}
			
			</style>
			
	
</Main>

</Layout>