---
import Layout from '../layouts/Layout.astro';

import H1 from "../components/H1.astro";

import Main from "../components/Main.astro";

import { Image } from "astro:assets"
// Import a reference to the image itselfmport sunset from "../images/sunset.webp



import vungtauuu from "../images/vungtauuu.jpg"

---

<Layout title="Discover Vung Tau">
	
	<Main>
		<H1 text="Vung Tau"/>
		
<Image src={vungtauuu} alt="city" class="rounded-2xl shadow-xl mb-4  object-cover inline" width="1024" height="800" />



<div class="mx-auto max-w-xl text-justify py-3.5">
	<p class="text-lg leading-relaxed text-gray-600n justify-around">
		It is a popular weekend escape from Ho Chi Minh City, it rocks at weekends and holidays when beach-starved locals and expats descend in numbers, but it is relatively quiet during the week. The city enjoys a spectacular location on a peninsula in the south, with the ocean on three sides. The light and sea air make it a refreshing break from sultry Saigon.
		The climate is very pleasant,the temperature never drops below 23 Celsius and the best season is between December and June, as it rarely rains.
		It is favored by many Australians, British and Americans. They enjoy the warm climate and the low costs of living. You can rent an apartment for less than 200$ in a homestay with all bills included
		There is a great community, expats who work in the oil industry, teachers from all over the world, pensioners and many tourists rejoice the relaxing lifestyle. Regularly a group of Scandinavians and other foreigners have their meet up in one of the many bars. The locals are very approachable as they want to talk to foreigners to improve their English language skills.
	</p>
	<div class="mt-8">
	 
	</div>
  </div>

  <div class="mx-auto max-w-xl text-justify py-3.5">
	<p class="text-lg leading-relaxed text-gray-600n justify-around">
		Vung Tau has a population of about 400,000 people and is a 2 hours drive from Ho Chi Minh City.
		You find all amenities nearby, just step out of your door, walk 20 steps and you have a convenient store in front of you. Many of them are open until midnight.
		It has a high density of hotels, restaurants, and bars. The city is progressing rapidly and becoming more and more popular as a tourist destination.
		The beaches are nice, there is no air pollution and the traffic is moderate. You can get to anywhere in Vung Tau even by bicycle in less than 30 minutes.
	</p>
	<div class="mt-8">
	 
	</div>
  </div>

	</Main>

</Layout>
		
