---
import Layout from "../layouts/Layout.astro";

import Main from "../components/Main.astro";

import H1 from "../components/H1.astro";

import nightlife from "../images/nightlife.jpg"

import { Image } from "astro:assets"
import Icon from "astro-icon";

---


		<Layout title="Nightlife">

			<Main>
        <H1 text="Nightlife"/>


		<article class="card"><article class="card"></article>
		<div>
			<p class="text-lg leading-relaxed text-gray-600n justify-around p-3 py-3.5">
				Vung Tau is a great place to experience the night scene. You can visit many bars and meet friendly girls who are willing to chat with you. 
				You can also practice your pool billard skills and have some fun. 
				The drinks are affordable, ranging from 4 to 6 $ per girl. 
			</p>
		</article>
	</div>
</div>


		  
		<article class="card">
			<img src="../images/nightlife.jpg" alt="Card Image" class="card-image">
			<div class="card-content">
				<h2>Cucumber Bar</h2>
				
				<div class="mt-5">
				  <div class="flex items-center mt-2 space-x-2 text-gray-600">
				   
					<span>21 Nguyễn Trãi, Phường 1, Thành phố Vũng Tàu, Vietnam</span>
				  
				  </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
				 <a
					  href="tel: +84 909 920 758"> +84932720105</a
					>

				   </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
					   <a
	  
					   href="https://www.facebook.com/people/Cucumber-Bar/100067911162960/" rel="noopener"  target="_blank"  >
					   facebook.com/people/Cucumber-Bar
					 </a>

					 
					 </div>
				   
				  </div>
				</div>
		 </article>
   </div>
		
 
  
  <a href="/wellness" class="flex items-center gap-x-3 ">
	<h2> in progress.....................................</h2>
	<img
		src="/forward.png"
		alt="forward icon"
		width={48}
		height={44}
		class=" color grayscale align-right"
	/>


	<style>

		.card {
		  border: 1px solid #ddd;
		  border-radius: 8px;
		  overflow: hidden;
		  width: 90%;
		  height: 130%;
		  margin: 26px;
		  align-content: baseline;
		}
		
		.card-image {
		  width: 100%;
		  height: 500px; /* Adjust the height as needed */
		  object-fit: cover;
		}
		
		.card-content {
		  padding: 26px;
		}
		
		.icon {
		  /* Add styles for your icon */
		}
		
		h2 {
		  padding: 1px;
		  color:blue;
		}
		
		</style>
		

</Main>

</Layout>