---
import Layout from "../layouts/Layout.astro";

import H1 from "../components/H1.astro";

import nightlife from "../images/nightlife.jpg"

import { Image } from "astro:assets"

---


		<Layout title="Nightlife">

			
        <H1 text="Nightlife"/>

        <div class="flex justify-center items-center">
			<Image src={nightlife} alt="sunset" class="rounded-2xl shadow-xl mb-4 object-cover "  width="1024" height="800"decoding="async" loading="lazy"/>	
		</div>
		  
		
  <h2> in progress</h2>
  
  
		</Layout>

