---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";

import H1 from "../components/H1.astro";


import { Image } from "astro:assets"

import kem from "../images/kem.jpg"
import menue from "../images/menue.webp"

import shrimps from "../images/shrimps.jpg"

---

<Layout title="Restaurants">
	<Main>
		<H1 text="Dinning"/>

		<article class="card">
			<img src="/images/shrimps.jpg" alt="Card Image" class="card-image">
			<div class="card-content">
				<div class="mx-auto max-w-xl text-justify py-3.5">
					<h2>Thuan Phuc Seafood Noodle</h2>
				
					 <div class="mt-5">
					   <div class="flex items-center mt-2 space-x-2 text-gray-600">
						
						 <span>73 Đ. Hoàng Hoa Thám, Phường Thắng Tam, Thành phố Vũng Tầu, Vietnam</span>
					   
					   </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
					  <a
						   href="tel:+84907480751"> +84907480751</a
						 >
						
					   </div>
					 </div>
			  </article>
		</div>

		<article class="card">
			<img src="/images/menue.webp" alt="Card Image" class="card-image">
			<div class="card-content">
				<div class="mx-auto max-w-xl text-justify py-3.5">
					<h2>OC 34 Seafood</h2>
				
					 <div class="mt-5">
					   <div class="flex items-center mt-2 space-x-2 text-gray-600">
						
						 <span>2 Đ. Hoàng Hoa Thám, Phường 3,Vũng Tàu, Vietnam</span>
					   
					   </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
					  <a
						   href="tel: +84774199163"> +84774199163</a
						 >

						</div><div class="flex items-center mt-2 space-x-2 text-gray-600">
							<a
		   
							href="https://www.foody.vn/vung-tau/oc-34" rel="noopener"  target="_blank"  >
							foody.vn/vung-tau/oc-34
						  </a>
						  </div>
						
					   </div>
					 </div>
			  </article>
		</div>


		

	<a href="/coffee" class="flex items-center gap-x-3 ">
		<img
			src="/forward.png"
			alt="forward icon"
			width={48}
			height={44}
			class=" color grayscale align-right"
		/>

		<style>

			.card {
			  border: 1px solid #ddd;
			  border-radius: 8px;
			  overflow: hidden;
			  width: 100%;
			  height: 130%;
			  margin: 26px;
			}
			
			.card-image {
			  width: 100%;
			  height: 500px; /* Adjust the height as needed */
			  object-fit: cover;
			}
			
			.card-content {
			  padding: 26px;
			}
			
			.icon {
			  /* Add styles for your icon */
			}
			
			h2 {
			  padding: 1px;
			  color:blue;
			}
			
			</style>
			
	
</Main>

</Layout>