---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";

import H1 from "../components/H1.astro";

import Button from "../components/button.astro";

import { Image } from "astro:assets"

import kem from "../images/kem.jpg"
import fishMarket from "../images/fishMarket.jpg"

---

<Layout title="Restaurants">
	
		<H1 text="Dinning"/>

		<div class="flex justify-center items-center">
			<Image src={kem} alt="sunset" class="rounded-2xl shadow-xl mb-4 object-cover "  width="1024" height="800"decoding="async" loading="lazy"/>	
		</div>
		<div class="flex justify-center items-center">
		<Image src={fishMarket} alt="sunset" class="rounded-2xl shadow-xl mb-4 object-cover "  width="1024" height="800"decoding="async" loading="lazy"/>	
	</div>

	
</Main>

</Layout>