---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";

import { Image } from 'astro:assets';

import newHaircut from "/images/newHaircut.jpg"

import { Icon } from "astro-icon";
import H1 from "../components/H1.astro";


---

<Layout title="Service">
 
    <Main>

      <H1 text="Services" />

      <article class="card"><article class="card"></article>
		<div>
			<p class="text-lg leading-relaxed text-gray-600n justify-around p-3 py-3.5">
				Vung Tau is a city that can meet your needs for a fresh look or a new gadget. 
        You can find many salons that offer haircuts in Vung Tau, 
        or shop for camera equipment from various brands and models. 
        If you encounter a flat tire, you don't have to worry. 
        There are many reliable and affordable services that can repair punctures in Vung Tau. 
        You can save a lot of money compared to the prices in Europe or the US. Vung Tau is a convenient 
        and attractive place for visitors who want to enjoy different aspects of life.


			</p>
		</article>
	</div>

<article class="card">
    <img src="/images/newHaircut.jpg" alt="Card Image" class="card-image">
    <div class="card-content">
      <h2>Phong</h2>
      <p>Hairdresser</p>
      <Icon class="text-gray-400 w-10 h-10 flex items-center mt-2 space-x-2" name="uil:map-marker" />
      <span>13 Trịnh Hoài Đức, khu phố 4, - Vũng Tàu, Vietnam</span>
      
    </div>
  </article>

  <article class="card">
    <img src="../images/thaian.jpg" alt="Card Image" class="card-image">
    <div class="card-content">
      <h2>Thai An</h2>
      
      <p>Photo  Service</p>
      <Icon class="text-gray-400 w-8 h-8" name="uil:map-marker" />
      <span>248 Trương Công Định, Phường 3,Vũng Tầu, Vietnam</span>
      <a
         href="tel: +84 909 920 758"> +84 909 920 758</a
       >
    </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
      
      
    </div>
  </article>

  <article class="card">
    <img src="../images/bike.jpg" alt="Card Image" class="card-image">
    <div class="card-content">
      <h2>My Ha</h2>
      
      <p>Bike Service</p>
      <Icon class="text-gray-400 w-8 h-8" name="uil:map-marker" />
      <span>60 Đường Xô Viết Nghệ Tĩnh Vũng Tầu,Vietnam
    </span>
      
    </div>
  </article>

  <a href="/guide" class="flex items-center gap-x-3 ">
		<img
			src="/forward.png"
			alt="forward icon"
			width={48}
			height={44}
			class=" color grayscale align-right"
		/>

</Main>

</Container>
</Layout>


<style>

  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 90%;
    height: 130%;
    margin: 26px;
    align-content: baseline;
  }
  
  .card-image {
    width: 100%;
    height: 500px; /* Adjust the height as needed */
    object-fit: cover;
  }
  
  .card-content {
    padding: 26px;
  }
  
  .icon {
    /* Add styles for your icon */
  }
  
  h2 {
    padding: 1px;
    color:blue;
  }
  
  </style>
  

</Main>

</Layout>