---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";

import H1 from "../components/H1.astro";

import newHaircut from "../images/newHaircut.jpg"
import WellnessHomes from "../images/WellnessHomes.jpg"

import { Image } from "astro:assets"
---

<Layout title="Wellness">
	<Main>
		<H1 text="Wellness"/>
      
    
		<article class="card">
			<img src="/images/WellnessHomes.jpg" alt="Card Image" class="card-image">
			<div class="card-content">
			  
			  
			 
			  <div class="mx-auto max-w-xl text-justify py-3.5">
				<h2>Wellness Homes</h2>
			
				 <div class="mt-5">
				   <div class="flex items-center mt-2 space-x-2 text-gray-600">
					
					 <span>B4 Thuỳ Dương 3, Ward 10 Vung Tau City, Vietnam</span>
				   </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
					 <a
					   href="mailto:hello@stablotemplate.com">hoctap1537@gmail.com</a
					 >
				   </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
				  <a
					   href="tel:+84 0908 098 138">+84 0908 098 138</a
					 >
					</div><div class="flex items-center mt-2 space-x-2 text-gray-600">
					 <a
    
					 href="https://wellness-homes.netlify.app/" rel="noopener"  target="_blank"  >
					 wellness-homes.netlify.app
				   </a>
				   </div>
				 </div>
		  </article>
	</div>

	

	 



	</card>
		<a href="/accomodation" class="flex items-center gap-x-3 ">
			<img
				src="/forward.png"
				alt="forward icon"
				width={48}
				height={44}
				class=" color grayscale align-right"
			/>

			<style>

				.card {
				  border: 1px solid #ddd;
				  border-radius: 8px;
				  overflow: hidden;
				  width: 90%;
				  height: 130%;
				  margin: 26px;
				  align-content: baseline;
				}
				
				.card-image {
				  width: 100%;
				  height: 500px; /* Adjust the height as needed */
				  object-fit: cover;
				}
				
				.card-content {
				  padding: 26px;
				}
				
				.icon {
				  /* Add styles for your icon */
				}
				
				h2 {
				  padding: 1px;
				  color:blue;
				}
				
				</style>
				
		
	</Main>
	
	</Layout>